<div class='ui container'>
	<%categories.forEach(function(category){%>
		<%=category.name%><br>
	<%})%>

	<%=JSON.stringify(parents)%>
	<!-- <div class='ui grid'>
		<div class=''>
			
		</div>
	</div> -->
</div>