<div class="ui container">
    <div class="ui compact basic segment">
        <h2>Org settings</h2>
        <ul class="ui unordered list">
            <li><a href="/org/<%=req.org.id%>/edit">Edit details</a></li>
            <li>Members
              <ul>
                <li><a href="/org/<%=req.org.id%>/members">List members</a></li>
                <li><a href="/org/<%=req.org.id%>/member/create">Create member</a></li>
              </ul>
            </li>
          </ul>
    </div>
</div>
</div>