<div class='ui container'>
	<div class='ui grid'>
		<div class='sixteen wide column'>
			<%pnls.forEach(function(pnl){%>
				<a href="/org/<%=req.org.id%>/pnl/<%=pnl.id%>"><%=pnl.name%></a><br>
			<%})%>
		</div>
	</div>
	
</div>