<div class='ui container'>
	<div class='ui grid'>
		<div class='three wide tablet computer only column'></div>
		<div class='ten wide table ten wide computer sixteen wide mobile  column'>
			<div class='ui segment'>
				<h1>Signup</h1>
				<form action="/signup" method="post" class='ui <%-error?"error":""%> form'>
					<div class="ui error message">
						<div class="header">Please correct error in form</div>
						<p><%-error%></p>
					</div>
					<div class="field">
						<label >What's your name?</label>
						<input name="name" type="text" placeholder="e.g. Alex J V" value="<%=user.name%>" required/>
					</div>

					<div class="field">
						<label >What's your email?</label>
						<input name="email" type="text" placeholder="enter your email here" value="<%=user.email%>" required/>
					</div>

					<div class="field">
						<label>Choose a Password</label>
						<input name="password" type="password" placeholder="enter your password here"/ required>
					</div>

					<input type="submit"/ class='ui teal button'>
				</form>
				
			</div>
			<div class='ui segment'>
				<h3>Already signed up? Login instead</h3>
				<a href="/login" class='ui button'>Click here to login</a>
			</div>
		</div>
		<div class='three wide tablet computer only column'></div>
	</div>
</div>