<div class="ui container">
	<div class="ui two column stackable  divided grid">
		<h3>Transaction Group:</h3>
		<div class="row">
			<div class="column">
				<h4>Events:</h4>
				<table class='ui basic unstackable table' style='display: block;overflow-x:scroll;'>
					<tbody>
						<tr class='transaction top aligned' data-t-id='11182'>
							<td rowspan='1'>
								<span class='popup' data-html='12:00 pm'> Sep</br>
									<span style='font-size: 1.5rem;'>07</span>
									</br>
									<span style='font-size: 0.75rem;'>2019</span>
								</span>
								<!-- <a href='#' class='show_details'>details</a> -->
							</td>
							<td>
								<span style='opacity: 0.5'>You got</span>
								<br>
								<b style='color:#5bc5a2' class='' data-html='INR 2999'>INR 2,999</b>
							</td>
							<td>
								<span style='opacity: 0.5'>deposited to</span>
								<br> Paytm 2335 </td>
							<td>
								<span style='opacity: 0.5'>from</span>
								<br> 81XXXX6623(Bholanath) </td>
						</tr>
						<tr>
							<td colspan='4' style='padding:7px;opacity: 0.7;'> </td>
						</tr>
					</tbody>
				</table>
				<button class="ui basic button">
					<i class="icon add"></i>
					Add an event to group
				</button>
			</div>
			<div class="column">
				<h4>Transactions:</h4>
				<table class='ui basic unstackable table' style='display: block;overflow-x:scroll;'>
					<tbody>
						<tr class='transaction top aligned' data-t-id='11182'>
							<td rowspan='1'>
								<span class='popup' data-html='12:00 pm'> Sep</br>
									<span style='font-size: 1.5rem;'>07</span>
									</br>
									<span style='font-size: 0.75rem;'>2019</span>
								</span>
								<!-- <a href='#' class='show_details'>details</a> -->
							</td>
							<td>
								<span style='opacity: 0.5'>You got</span>
								<br>
								<b style='color:#5bc5a2' class='' data-html='INR 2999'>INR 2,999</b>
							</td>
							<td>
								<span style='opacity: 0.5'>deposited to</span>
								<br> Paytm 2335 </td>
							<td>
								<span style='opacity: 0.5'>from</span>
								<br> 81XXXX6623(Bholanath) </td>
						</tr>
						<tr>
							<td colspan='4' style='padding:7px;opacity: 0.7;'> </td>
						</tr>
					</tbody>
				</table>
				<button class="ui basic button">
					<i class="icon add"></i>
					Add a transaction to group
				</button>
			</div>
		</div>
	</div>
</div>