packages: 
  yum:
    zlib-devel: [] 
    pcre-devel: [] 
    libjpeg-turbo-devel: []

files:
    "/tmp/install_qpdf.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            wget https://liquidtelecom.dl.sourceforge.net/project/qpdf/qpdf/8.4.2/qpdf-8.4.2.tar.gz
            tar -xvzf qpdf-8.4.2.tar.gz
            cd qpdf-8.4.2
            ./configure
            make
            sudo make install
            exit 0

commands:
  01_provide_permission_to_install_script:
    command: chmod a+x /tmp/install_qpdf.sh
  01_install_qpdf:
    command: /tmp/install_qpdf.sh