<%
	var stage = 'create_account';
%>
<div class='ui container'>
	<div class='ui center aligned basic segment'>
		<h1>Introduction to cashflowy</h1>
	</div>
	<div class='ui grid'>
		<div class='three wide column'>
			<%- partial('menu') %>
		</div>
		<div class='ten wide column'>
			
		</div>
		<div class='three wide column'>
			
		</div>
	</div>
</div>