<div class="ui container">
    <div class="list">
        <ul>
            <li><a href="/curator/create_transaction">Create a transaction</a></li>
            <li><a>Update Balance</a></li>
        </ul>
    </div>
    <form action="/curator/">

        <button type="submit " class="ui button">Mark as resolved</button>
    </form>
</div>