<div class='ui container'>
	<div class='ui grid'>
		<div class='sixteen wide column'>
			<%-partial('level_indicator')%>		
		</div>
		<div class='three wide column'>
			<%- partial('menu') %>
		</div>
		<div class='ten wide column'>
			<div class='ui basic segment'>
				<h4>Tag</h4>
				Cashflowy is a tool for your to 
				<br>master your money
				<br>attain financial freedom

				<h3>What is financial freedom?</h3>
				If you have to wear a specific dress and have to be at a specific place and time, then you are not free. 

				<br>Put a lot of reference to Naval ravikanth

				<h4> What does matering your money mean?</h4>
				Do you really know what is happening to your money? 
				<br>Do you roughly know how your future expense looks like? 
				<br>Other than you hopeful(possibly dilusional), do you know if you will run out of money? 
			</div>
		</div>
		<div class='three wide column'>
			
		</div>
	</div>
</div>